body {
    background: #141414;
    overflow-y: scroll;
    color: #FFFFFF;
    overflow-x: hidden; /* hides the horizontal scroll bar */
}

#gombruna {
    display:flex;
    justify-content:center;
    align-items:center;
    background: url("gombruna.gif") no-repeat center center;
    background-size: auto 100%;
    height: 80vh;
}

#number {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 10vh;
}

#texts {
    height: 0%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #FFF;
    font-size: 4vw;
    font-family: Helvetica, Arial, sans-serif;
    padding: 14pt;
}
